html, body{
  width: 100%;
  height: 100%;
  padding: 0;
  margin:0;
  overflow: hidden;
  font-family: Helvetica;
}
#tree{
  width:100%;
  height:100%;
}



.css-button-gradient--4 {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;

  margin: 0 auto;
  margin-bottom: 15px;

  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
  position: relative;

  outline: none;
  border-radius: 5px;
  border: none;
  background-size: 120% auto;
  background-image: linear-gradient(315deg, #43cea2 0%, #185a9d 75%);

}
#cssUpload {
  margin-top: 50px;
}




.css-button-gradient--4:hover {
  background-position: right center;
}
.css-button-gradient--4:active {
  top: 2px;
}



/* The slider */

.switch {
  position: absolute; top: 30px; left: 50px; width: 300px;
  display: inline-block;
  width: 60px;
  height: 34px;
  text-align: center;
}


/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;

}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;

}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;

}

.slider.round:before {
  border-radius: 50%;

}